{% extends "layout.html" %}
{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Game Graph!</h1>
        <p>The Video Game Metadata Graph Database.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="container">
        <h3>Add New Game</h3>
        <form action="{{ url_for('add_game') }}" method=post>
            <dl>
                <dt>Title:</dt>
                <dd><input type=text size=30 name=title></dd>
                <dt>Genres (separated by commas):</dt>
                <dd><input type=text size=30 name=genre></dd>
                <dt>Mood (separated by commas):</dt>
                <dd><input type=text size=30 name=mood></dd>
                <dt>Tropes (separated by commas):</dt>
                <dd><input type=text size=30 name=tropes></dd>
                <dt>Theme (separated by commas):</dt>
                <dd><input type=text size=30 name=theme></dd>
            </dl>
            <input type=submit value="Add">
        </form>
    </div>
<br>

{% endblock %}