{% extends "layout.html" %}
{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Game Graph!</h1>
        <p>The Video Game Metadata Graph Database.</p>
        <p><a class="btn btn-primary btn-lg" href="https://ischool.uw.edu/capstone/projects/2015/game-graph-video-game-metadata-graph-database" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="container">

    <h2>This the the Game Graph Video Game Metadata Database</h2>
            {% if not session.username %}
                <p>
                    To get started, please <a href="{{ url_for('login') }}">Login</a>.
                </p>
                <p>
                    If you do not have an account you should first <a href="{{ url_for('register') }}">register</a>.
                </p>

            {% else %}
                <p>Thank you for logging in. Right now, you can add a new game or a new node.</p>
            {% endif %}
        <p>The backend uses neo4j, while the front end uses flask and py2neo.</p>
        <p>Help us out by visiting our <a href="https://github.com/wotashu/game-graph">GitHub Repository</a></p>

    </div>
<br />

{% endblock %}