{% extends "layout.html" %}
{% block body %}

    <div class="container">
        <h3>Add A New Node</h3>
        <form action="{{  url_for('add_node') }}" method="post">
            <dl>
                <dt>Node:</dt>
                <dd>
                    <select class="form-control" name=node_type>
                        <option value="GameGenre">Game Genre</option>
                        <option value="Mood">Mood</option>
                        <option value="Trope">Trope</option>
                        <option value="Edition">Edition</option>
                        <option value="Year">Year</option>
                        <option value="Platform">Platform</option>
                        <option value="Pacing">Pacing</option>
                        <option value="NarrativeGenre">Narrative Genre</option>
                        <option value="Franchise">Franchise</option>
                        <option value="Series">Series</option>
                        <option value="Theme">Theme</option>
                        <option value="Setting">Setting</option>
                        <option value="Image">Image</option>
                        <option value="LocalRelease">Local Release</option>
                        <option value="Agent">Agent</option>
                        <option value="DigitalPackage">Digital Package</option>
                        <option value="Trailer">Trailer</option>
                        <option value="Rating">Rating</option>
                        <option value="Screenshot">Screenshot</option>
                        <option value="Language">Language</option>
                        <option value="RepresentativeArt">Representative Art</option>
                        <option value="Collection">Collection</option>
                        <option value="Type">Type</option>
                        <option value="PhysicalPackage">Physical Package</option>
                    </select>
                </dd>
                <dt>Title:</dt>
                <dd><input type=text class="form-control" name=node_title></dd>
                <dt>Notes:</dt>
                <dd><input type=text class="form-control"name=node_notes></dd>
            </dl>
            <input type=submit value="Add">
        </form>
    </div>

{% endblock %}