{% extends "layout.html" %}
{% block body %}

    <div class="container">
        <h3>Add New Game</h3>
        <form action="{{ url_for('add_game') }}" method=post>
            <dl>
                <dt>Title:</dt>
                <dd><input type=text size=30 name=title></dd>
                <dt>Genres (separated by commas):</dt>
                <dd><input type=text size=30 name=genre></dd>
                <dt>Moods (separated by commas):</dt>
                <dd><input type=text size=30 name=moods></dd>
                <dt>Tropes (separated by commas):</dt>
                <dd><input type=text size=30 name=tropes></dd>
                <dt>Themes (separated by commas):</dt>
                <dd><input type=text size=30 name=themes></dd>
                <dt>Edition:</dt>
                <dd><input type=text size=30 name=edition></dd>
                <dt>Year:</dt>
                <dd><input type=text size=30 name=year></dd>
                <dt>Platform:</dt>
                <dd><input type=text size=30 name=platform></dd>
            </dl>
            <input type=submit value="Add">
        </form>
    </div>

{% endblock %}